<%= simple_form_for event do |f| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %>errors:</h2>
      <ul>
        <% event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :title, size: 20 %>
  <%= f.input :tags %>
  <%= f.input :scheduled_date %>
  <%= f.button :submit, class: 'btn-primary' %>

<% end %>
<br>
<%= link_to "Back", events_path %>
