<table class="table">
  <% if @events.any? %>
    <tr>
      <th>Title</th>
      <th>List of Tags</th>
      <th>Scheduled Date</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <!-- TODO scope events to user-->
    <% @events.each do |event| %>
      <tr>
        <td><%= event.title %></td>
        <td><%= event.tags %></td>
        <td><%= event.scheduled_date.strftime('%d-%m-%Y %H:%M') %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Delete', event_path(event),
                        method: :delete,
                        data: {confirm: 'Are you sure?'} %></td>
        <td>
          <% if event.completed? %>
            Completed
          <% else %>
            <%= link_to 'Complete', complete_event_path(id: event.id),
                        method: :put,
                        data: {confirm: 'Are you sure?'} %>
          <% end %>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>
