<!DOCTYPE html>
<html>
<head>
  <title>Events Calendar</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <div class="col-sm-8">
    <div class="navs">
      <div class="row">
        <% if current_user %>
          <div class="col-sm-6">
            <%= form_tag(events_path, method: :get) do %>
              <%= text_field_tag :term, params[:term] %>
              <%= submit_tag 'Search', class: 'btn-secondary' %>
            <% end %>
          </div>
          <div class="col-sm-6">
            <%= link_to "Sign Out", destroy_user_session_path %> |
            <%= current_user.email %> |
            <%= link_to "New Event", new_event_path %>
          </div>
        <% else %>
          <%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path %>
        <% end %>
      </div>
    </div>
    <br>
    <%= yield %>
  </div>
</div>

</body>
</html>
